@font-face {
  font-family: "Aeonik";
  src: url("./AeonikTRIAL-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Aeonik";
  src: url("./AeonikTRIAL-Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Aeonik";
  src: url("./AeonikTRIAL-SemiBold.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "Aeonik";
  src: url("./AeonikTRIAL-Bold.otf") format("opentype");
  font-weight: 700;
}
